name: push-dockerhub

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: |
          docker build -t sindy0514/vocalborn-backend:${{ github.sha }} .
          docker tag sindy0514/vocalborn-backend:${{ github.sha }} sindy0514/vocalborn-backend:latest

      - name: Login to Docker Hub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Push Docker image to Docker Hub
        run: |
          docker push sindy0514/vocalborn-backend:latest
          docker push sindy0514/vocalborn-backend:${{ github.sha }}
